.my-button {
    width: 100%;
    padding: 15.5px 40px;
    background-color: #065BBA;
    font-family: "PTSansCaption";
    font-size: 22px;
    font-weight: 700;
    line-height: 100%;
    color: #FFF;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-button:hover,
.my-button:focus,
.my-button:active {
    background-color: #064B98;
}

.my-button.--buttonSize-small {
    max-width: 149px;
    padding: 10.5px 40px;
    font-size: 20px;
}

.my-button.--buttonColor-light {
    background-color: #0F97BC;
}

.my-button.--buttonColor-light:hover,
.my-button.--buttonColor-light:focus,
.my-button.--buttonColor-light:active {
    background-color: #017B9D;
}

@media (max-width: 1201px) {}

@media (max-width: 1025px) {
    .my-button.--buttonSize-small {
        max-width: 140px;
        font-size: 18px;
    }

    .my-button {
        padding: 16.5px 40px;
        font-size: 20px;
    }
}

@media (max-width: 830px) {
    .my-button {
        padding: 17.5px 40px;
        font-size: 18px;
    }
}

@media (max-width: 769px) {
    .my-button.--buttonSize-small {
        font-size: 20px;
    }

    .my-button {
        padding: 16.5px 40px;
        font-size: 20px;
    }
}

@media (max-width: 581px) {
    .my-button.--buttonSize-small {
        max-width: 184px;
        padding: 17.5px 60px;
        font-size: 18px;
    }

    .my-button {
        padding: 17.5px 40px;
        font-size: 18px;
    }
}