.hero-section {
    padding-top: 81px;
}

.hero-section__wrapper {
    position: relative;
}

.hero-section__bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.hero-section__bg-image img {
    object-position: center;
}

.hero-section__bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(22, 36, 57, 1), rgba(22, 36, 57, 0) 70%);
    z-index: 1;
}

.hero-section__container {
    padding-top: 101px;
    padding-bottom: 102px;
    position: relative;
    z-index: 20;
    margin-bottom: 42px;
}

.hero-section__category-title {
    font-size: 23px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    margin-bottom: 31px;
    /* Сохраняем интервал между строками */
    display: inline-block;
    vertical-align: top;
    /* Убираем зазор снизу */
    position: relative;
}

/* Обрезка лишнего пространства сверху */
.hero-section__category-title::before {
    content: '';
    display: block;
    height: 0;
    margin-top: calc((0.72 - 1) * 0.5em);
    /* Подбираем коэффициент */
}

/* Обрезка снизу (если нужно) */
.hero-section__category-title::after {
    content: '';
    display: block;
    height: 0;
    margin-bottom: calc((0.72 - 1) * 0.5em);
}

.hero-section__main-content {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.hero-section__title {
    font-family: 'Raleway';
    font-size: 66px;
    font-weight: 700;
    line-height: 100%;
    color: #FFF;
    /* Сохраняем интервал между строками */
    display: inline-block;
    vertical-align: top;
    /* Убираем зазор снизу */
    position: relative;
}

/* Обрезка лишнего пространства сверху */
.hero-section__title::before {
    content: '';
    display: block;
    height: 0;
    margin-top: calc((0.72 - 1) * 0.5em);
    /* Подбираем коэффициент */
}

/* Обрезка снизу (если нужно) */
.hero-section__title::after {
    content: '';
    display: block;
    height: 0;
    margin-bottom: calc((0.72 - 1) * 0.5em);
}

.hero-section__pre-title {
    color: #FFF;
    max-width: 525px;
}

.hero-section__button {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 302px;
}

.hero-section__features {
    display: flex;
    gap: 40px;
    position: absolute;
    bottom: -42px;
    padding-right: 30px;
}

.hero-section__feature-item {
    flex: 1 0 calc(33.333% - 40px);
    display: flex;
    align-items: center;
    gap: 20px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(144, 195, 243, 0.34);
    border-radius: 6px;
    padding: 10px 22px;
}

.hero-section__feature-image {
    width: 65px;
    height: 65px;
}

.hero-section__feature-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    color: #065BBA;
}

@media (max-width: 1201px) {
    .hero-section__container {
        padding-top: 96px;
    }

    .hero-section__category-title {
        font-size: 20px;
    }

    .hero-section__title {
        font-size: 60px;
    }

    .hero-section__features {
        gap: 30px;
    }

    .hero-section__feature-item {
        flex: 1 0 calc(33.333% - 30px);
    }

    .hero-section__feature-image {
        width: 60px;
        height: 60px;
    }

    .hero-section__feature-text {
        font-size: 16px;
    }
}

@media (max-width: 1025px) {
    .hero-section {
        padding-top: 79px;
    }

    .hero-section__bg-image::before {
        background: linear-gradient(90deg, rgba(22, 36, 57, 1), rgba(22, 36, 57, 0) 85%);
    }

    .hero-section__container {
        padding-top: 90px;
        padding-bottom: 90px;
        gap: 40px;
    }

    .hero-section__category-title {
        font-size: 18px;
    }

    .hero-section__main-content {
        gap: 45px;
    }

    .hero-section__pre-title {
        max-width: 490px;
    }

    .hero-section__feature-item {
        padding: 10px 16px;
        gap: 15px;
    }
}

@media (max-width: 900px) {
    .hero-section__features {
        gap: 20px;
    }

    .hero-section__feature-item {
        flex: 1 0 calc(33.333% - 20px);
    }

    .hero-section__feature-item {
        gap: 10px;
    }
}

@media (max-width: 830px) {
    .hero-section__bg-image {
        max-height: 470px;
    }

    .hero-section__bg-image::before {
        background: linear-gradient(90deg, rgba(22, 36, 57, 1), rgba(22, 36, 57, 0) 94%);
    }

    .hero-section__container {
        padding-top: 85px;
        padding-bottom: 0px;
    }

    .hero-section__category-title {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .hero-section__main-content {
        gap: 40px;
    }

    .hero-section__title {
        font-size: 53px;
    }

    .hero-section__pre-title {
        max-width: 450px;
    }

    .hero-section__features {
        position: static;
        flex-wrap: wrap;
        padding-right: 0;
    }

    .hero-section__feature-item {
        flex: 1 0 calc(50% - 20px);
    }

    .hero-section__feature-text {
        font-size: 15px;
    }
}

@media (max-width: 769px) {
    .hero-section {
        padding-top: 62px;
    }

    .hero-section__container {
        padding-top: 78px;
    }

    .hero-section__bg-image {
        max-height: 490px;
    }

    .hero-section__bg-image::before {
        background: linear-gradient(90deg, rgba(22, 36, 57, 1), rgba(22, 36, 57, 0) 165%);
    }

    .hero-section__feature-item {
        gap: 15px;
    }

    .hero-section__feature-image {
        width: 65px;
        height: 65px;
    }
}

@media (max-width: 581px) {
    .hero-section__container {
        padding-top: 71px;
    }

    .hero-section__bg-image {
        max-height: 418px;
    }

    .hero-section__category-title {
        font-size: 12px;
        margin-bottom: 18px;
        line-height: 1.3;
    }

    /* Обрезка лишнего пространства сверху */
    .hero-section__category-title::before {
        margin-top: calc((0.72 - 1.3) * 0.5em);
        /* Подбираем коэффициент */
    }

    /* Обрезка снизу (если нужно) */
    .hero-section__category-title::after {
        margin-bottom: calc((0.72 - 1.3) * 0.5em);
    }

    .hero-section__main-content {
        gap: 35px;
    }

    .hero-section__title {
        font-size: 40px;
    }

    .hero-section__features {
        gap: 15px;
    }

    .hero-section__feature-item {
        flex: 1 0 100%;
    }

    .hero-section__feature-text br {
        display: none;
    }
}

@media (max-width: 421px) {
    .hero-section {
        padding-top: 52px;
    }

    .hero-section__bg-image {
        max-height: 345px;
    }

    .hero-section__container {
        padding-top: 67px;
    }

    .hero-section__category-title {
        margin-bottom: 16px;
    }

    .hero-section__main-content {
        gap: 26px;
    }

    .hero-section__title {
        font-size: 31px;
    }

    .hero-section__pre-title {
        font-size: 12px;
    }

    .hero-section__features {
        gap: 5px;
    }

    .hero-section__feature-item {
        padding: 10px 12px;
    }
}


/* Порядок действий при страховом случае */
.order-actions {}

.order-actions__container {
    padding-top: 70px;
    padding-bottom: 72px;
}

.order-actions__title {}

.order-actions__items {
    display: flex;
    gap: 50px;
}

.order-actions__item-step {
    flex: 1 1 calc(33.333% - 50px);
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
}

.order-actions__item-step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 0px;
    border: 2px dashed rgba(255, 255, 255, 0.1);
    width: 100%;
    z-index: 1;
    left: 100px;
}

.order-actions__step-name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 116px;
    max-width: 116px;
    width: 100%;
    color: #FFF;
    line-height: 1.1;
    background: #065BBA;
    box-shadow: 0px 8px 20px rgba(144, 195, 243, 0.14);
    border-radius: 50%;
    position: relative;
    z-index: 5;
}

/* Обрезка лишнего пространства сверху */
.pre-title-text::before {
    margin-top: calc((0.72 - 1.1) * 0.5em);
}

/* Обрезка снизу (если нужно) */
.pre-title-text::after {
    margin-bottom: calc((0.72 - 1.1) * 0.5em);
}

.order-actions__step-text {
    max-width: 232px;
    color: #FFF;
    position: relative;
    z-index: 5;
}

@media (max-width: 1201px) {
    .order-actions__items {
        gap: 30px;
    }

    .order-actions__item-step {
        flex: 1 1 calc(33.333% - 30px);
        gap: 15px;
    }

    .order-actions__step-name {
        height: 106px;
        max-width: 106px;
    }
}

@media (max-width: 1025px) {
    .order-actions__container {
        padding-top: 60px;
        padding-bottom: 62px;
    }

    .order-actions__items {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .order-actions__item-step {
        flex: 0 0 calc(50% - 30px);
        gap: 20px;
    }

    .order-actions__item-step:not(:last-child)::after {
        display: none;
    }

    .order-actions__step-text {
        max-width: 260px;
    }
}

@media (max-width: 830px) {
    .order-actions__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 769px) {
    .order-actions__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .order-actions__title {
        text-align: center;
    }

    .order-actions__items {
        gap: 30px;
    }

    .order-actions__item-step {
        flex: 0 0 100%;
        gap: 20px;
        justify-content: center;
    }

    .order-actions__step-text {
        max-width: 380px;
    }
}

@media (max-width: 581px) {
    .order-actions__container {
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .order-actions__container {
        align-items: flex-start;
    }

    .order-actions__title {
        text-align: start;
    }

    .order-actions__items {
        gap: 21px;
    }

    .order-actions__item-step {
        gap: 18px;
        justify-content: flex-start;
    }

    .order-actions__step-name {
        height: 90px;
        max-width: 90px;
    }
}

@media (max-width: 421px) {
    .order-actions__container {
        padding-top: 34px;
        padding-bottom: 34px;
    }

    .order-actions__items {
        gap: 18px;
    }

    .order-actions__item-step {
        gap: 15px;
    }

    .order-actions__step-name {
        height: 80px;
        max-width: 80px;
    }
}


/* Бланки для скачивания */
.download-docs {}

.download-docs__container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.download-docs__title {
    max-width: 407px;
}

.download-docs__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 683px;
    width: 100%;
}

.download-docs__link {
    padding: 32px 32px 31px;
    background-color: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(144, 195, 243, 0.34);
    display: flex;
    align-items: center;
    gap: 31px;
    border-radius: 6px;
}

.download-docs__link-img {
    max-width: 54px;
    max-height: 73px;
}

.download-docs__link-text {
    text-decoration: underline;
    color: #065BBA;
    line-height: 1.1;
}

/* Обрезка лишнего пространства сверху */
.pre-title-text::before {
    margin-top: calc((0.72 - 1.1) * 0.5em);
}

/* Обрезка снизу (если нужно) */
.pre-title-text::after {
    margin-bottom: calc((0.72 - 1.1) * 0.5em);
}

.download-docs__link:hover {
    box-shadow: 0px 4px 20px 0px rgba(121, 163, 202, 0.34);
}

.download-docs__link:hover .download-docs__link-text {
    color: #064B98;
}

@media (max-width: 1201px) {
    .download-docs__link-img {
        max-width: 50px;
        max-height: 67px;
    }
}

@media (max-width: 1025px) {
    .download-docs__link {
        padding: 28px;
        gap: 26px;
    }
}

@media (max-width: 830px) {
    .download-docs__links {
        gap: 15px;
    }

    .download-docs__link {
        padding: 25px;
        gap: 24px;
    }

    .download-docs__link-img {
        max-width: 45px;
        max-height: 60px;
    }
}

@media (max-width: 769px) {
    .download-docs__links {
        gap: 12px;
    }

    .download-docs__container {
        flex-direction: column;
        gap: 0px;
    }
}

@media (max-width: 581px) {
    .download-docs__links {
        gap: 10px;
    }

    .download-docs__link {
        padding: 20px;
        gap: 22px;
    }

    .download-docs__link-img {
        max-width: 40px;
        max-height: 60px;
    }
}

@media (max-width: 421px) {
    .download-docs__links {
        gap: 8px;
    }

    .download-docs__link {
        padding: 18px;
        gap: 22px;
    }

    .download-docs__link-img {
        max-width: 36px;
        max-height: 60px;
    }
}


/* Приобретённые полисы */

.sold-services {}

.sold-services__container {
    padding-top: 62px;
    padding-bottom: 65px;
}

.sold-services__title {
    margin-bottom: 36px;
}

.sold-services__slider {}

.sold-services__swiper {}

.sold-services__swiper-wrapper {
    align-items: stretch;
    max-width: 1130px;
}

.sold-services-card {
    background-color: #fff;
    border-radius: 6px;
    padding: 30px 26px 30.1px 30px;
    height: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.sold-services-card__top-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sold-services-card__avatar-wrap {
    max-width: 57px;
    max-height: 57px;
    border-radius: 50%;
    overflow: hidden;
}

.sold-services-card__avatar-img {}

.sold-services-card__service-desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sold-services-card__service-name {
    font-size: 12px;
    line-height: 1.4;
    color: #065BBA;
    /* Сохраняем интервал между строками */
    display: inline-block;
    vertical-align: top;
    /* Убираем зазор снизу */
    position: relative;
}

/* Обрезка лишнего пространства сверху */
.sold-services-card__service-name::before {
    content: '';
    display: block;
    height: 0;
    margin-top: calc((0.72 - 1.4) * 0.5em);
}

/* Обрезка снизу (если нужно) */
.sold-services-card__service-name::after {
    content: '';
    display: block;
    height: 0;
    margin-bottom: calc((0.72 - 1.4) * 0.5em);
}

.sold-services-card__price {
    color: #065BBA;
}

.sold-services-card__client {
    font-weight: 700;
}

.sold-services-card__texts {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.sold-services-card__address {}

.sold-services-card__drive-period {}

.sold-services__swiper-navigation {}

.sold-services__swiper-button-prev {}

.sold-services__swiper-button-next {}

.sold-services__swiper-pagination {}

@media (max-width: 1201px) {
    .sold-services__title {
        margin-bottom: 32px;
    }

    .sold-services-card {
        padding: 25px 20px 30px 25px;
    }

    .sold-services-card__top-info {
        gap: 18px;
    }

    .sold-services-card__avatar-wrap {
        max-width: 55px;
        max-height: 55px;
    }

    .sold-services-card__service-desc {
        gap: 12px;
    }
}

@media (max-width: 1024px) {
    .sold-services__container {
        padding-top: 52px;
        padding-bottom: 55px;
    }

    .sold-services-card {
        gap: 25px;
    }

    .sold-services-card__top-info {
        gap: 16px;
    }

    .sold-services-card__texts {
        gap: 23px;
    }
}

@media (max-width: 830px) {
    .sold-services__container {
        padding-top: 47px;
        padding-bottom: 47px;
    }

    .sold-services__title {
        margin-bottom: 28px;
    }

    .sold-services-card {
        padding: 22px 19px 30px 20px;
    }
}

@media (max-width: 768px) {
    .sold-services-card {
        padding: 25px 20px 30px 25px;
        gap: 28px;
    }

    .sold-services-card__top-info {
        gap: 18px;
    }

    .sold-services-card__service-desc {
        gap: 14px;
    }

    .sold-services-card__texts {
        gap: 28px;
    }
}

@media (max-width: 581px) {
    .sold-services__container {
        padding-top: 41px;
        padding-bottom: 41px;
    }

    .sold-services__title {
        margin-bottom: 25px;
    }

    .sold-services-card {
        gap: 24px;
    }

    .sold-services-card__top-info {
        gap: 16px;
    }

    .sold-services-card__avatar-wrap {
        max-width: 50px;
        max-height: 50px;
    }

    .sold-services-card__service-desc {
        gap: 14px;
    }

    .sold-services-card__texts {
        gap: 24px;
    }
}

@media (max-width: 421px) {
    .sold-services__container {
        padding-top: 36px;
        padding-bottom: 36px;
    }

    .sold-services__title {
        margin-bottom: 20px;
    }

    .sold-services-card {
        padding: 20px 18px 30px 16px;
        gap: 20px;
    }

    .sold-services-card__top-info {
        gap: 14px;
    }

    .sold-services-card__service-desc {
        gap: 10px;
    }

    .sold-services-card__texts {
        gap: 20px;
    }
}