/* Цвета ссылок */
.--linkColor-blue {
    color: #065BBA;
}

.--linkColor-blue:hover,
.--linkColor-blue:focus,
.--linkColor-blue:active {
    color: #064B98;
}

.--linkColor-lightBlue {
    color: #0F97BC;
}

.--linkColor-lightBlue:hover,
.--linkColor-lightBlue:focus,
.--linkColor-lightBlue:active {
    color: #017B9D;
}

.--linkColor-white {
    color: #FFF;
}

.--linkColor-white:hover,
.--linkColor-white:focus,
.--linkColor-white:active {
    color: rgba(255, 255, 255, 0.6);
}


/* Размеры текста подзаголовков */
.section-title {
    font-family: "Raleway";
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    color: #065BBA;
    margin-bottom: 50px;
}

.standart-text,
.standart-text *:not(.bold-text) {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    /* Сохраняем интервал между строками */
    display: inline-block;
    vertical-align: top;
    /* Убираем зазор снизу */
    position: relative;
}

/* Обрезка лишнего пространства сверху */
.standart-text::before,
.standart-text *:not(.bold-text)::before {
    content: '';
    display: block;
    height: 0;
    margin-top: calc((0.72 - 1.4) * 0.5em);
}

/* Обрезка снизу (если нужно) */
.standart-text::after,
.standart-text *:not(.bold-text)::after {
    content: '';
    display: block;
    height: 0;
    margin-bottom: calc((0.72 - 1.4) * 0.5em);
}

.pre-title-text {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    /* Сохраняем интервал между строками */
    display: inline-block;
    vertical-align: top;
    /* Убираем зазор снизу */
    position: relative;
}

/* Обрезка лишнего пространства сверху */
.pre-title-text::before {
    content: '';
    display: block;
    height: 0;
    margin-top: calc((0.72 - 1) * 0.5em);
}

/* Обрезка снизу (если нужно) */
.pre-title-text::after {
    content: '';
    display: block;
    height: 0;
    margin-bottom: calc((0.72 - 1) * 0.5em);
}

@media (max-width: 1201px) {
    .section-title {
        font-size: 44px;
        margin-bottom: 47px;
    }

    .pre-title-text {
        font-size: 24px;
    }
}

@media (max-width: 1025px) {
    .section-title {
        font-size: 40px;
    }

    .standart-text,
    .standart-text * {
        font-size: 15px;
    }

    .pre-title-text {
        font-size: 20px;
    }
}

@media (max-width: 830px) {
    .section-title {
        font-size: 36px;
        margin-bottom: 42px;
    }

    .standart-text,
    .standart-text * {
        font-size: 14px;
    }
}

@media (max-width: 769px) {
    .section-title {
        font-size: 40px;
        /* Сохраняем интервал между строками */
        display: inline-block;
        vertical-align: top;
        /* Убираем зазор снизу */
        position: relative;
    }

    /* Обрезка лишнего пространства сверху */
    .section-title::before {
        content: '';
        display: block;
        height: 0;
        margin-top: calc((0.72 - 1) * 0.5em);
    }

    /* Обрезка снизу (если нужно) */
    .section-title::after {
        content: '';
        display: block;
        height: 0;
        margin-bottom: calc((0.72 - 1) * 0.5em);
    }

    .standart-text,
    .standart-text * {
        font-size: 15px;
    }
}

@media (max-width: 581px) {
    .section-title {
        font-size: 32px;
        margin-bottom: 35px;
    }

    .standart-text,
    .standart-text * {
        font-size: 14px;
    }

    .pre-title-text {
        font-size: 18px;
    }
}

@media (max-width: 421px) {
    .section-title {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .standart-text,
    .standart-text * {
        font-size: 13px;
        line-height: 1.3;
    }

    /* Обрезка лишнего пространства сверху */
    .standart-text::before,
    .standart-text *:not(.bold-text)::before {
        margin-top: calc((0.72 - 1.3) * 0.5em);
    }

    /* Обрезка снизу (если нужно) */
    .standart-text::after,
    .standart-text *:not(.bold-text)::after {
        margin-bottom: calc((0.72 - 1.3) * 0.5em);
    }
}


/* Цветной блок */
.colored-block .colored-block__wrapper {
    background: linear-gradient(114deg, #307ACC, #065BBA, #226FC6);
}

.colored-block-lightColor .colored-block__wrapper {
    background: #F6FBFD;
}

.colored-block .section-title,
.colored-block p {
    color: #FFF;
}

@media (max-width: 769px) {
    .colored-block .colored-block__wrapper {
        background: linear-gradient(151deg, #307ACC, #065BBA, #226FC6);
    }
}


/* Отступы между секций */
.section-padding {
    padding-top: 130px;
}

@media (max-width: 1201px) {
    .section-padding {
        padding-top: 118px;
    }
}

@media (max-width: 1025px) {
    .section-padding {
        padding-top: 106px;
    }
}

@media (max-width: 830px) {
    .section-padding {
        padding-top: 93px;
    }
}

@media (max-width: 769px) {
    .section-padding {
        padding-top: 82px;
    }
}

@media (max-width: 581px) {
    .section-padding {
        padding-top: 71px;
    }
}

@media (max-width: 421px) {
    .section-padding {
        padding-top: 60px;
    }
}


.bold-text {
    font-weight: 700;
}

.--video-poster {
    position: relative;
    cursor: pointer;
    z-index: 5;
}

.--video-poster::before {
    content: url('../assets/images/play-button.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 65px;
    z-index: 7;
}

.--video-poster:hover {
    filter: brightness(0.9);
}

.--video-poster:hover::before {
    transform: translate(-50%, -50%) scale(1.05);
    transition: all 0.3s ease;
}

@media (max-width: 551px) {
    .--video-poster::before {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 421px) {
    .--video-poster::before {
        width: 30px;
        height: 30px;
    }
}


/* Элементы управления слайдером */
[class$="__slider"] {
    padding: 0px 35px;
}

.swiper-button-prev,
.swiper-button-next {
    color: #FFF;
    max-height: 30px;
    max-width: 17px;
}

.swiper-button-prev {
    left: 0px;
}

.swiper-button-next {
    right: 0px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 30px
}

.swiper-pagination {
    bottom: 0px !important;
    top: auto !important;
    display: none;
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: rgba(144, 195, 243, 0.582);
}

.swiper-pagination-bullet-active {
    background: #CFEAF2;
}

@media (max-width: 768px) {
    .swiper-pagination {
        display: block;
    }
}

@media (max-width: 581px) {

    [class$="__slider"] {
        padding: 0px 0px 34px 0px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}
